<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css_reset.css" />
  <link rel="stylesheet" href="/item.css">
  <title>Inventory_web-app_tod</title>
  
</head>
<body>
  <div class="body_container">
    <div class="card">
      <p>
        <img src= <%= product.image_uri %> alt="" />
      </p>
      <span>
        <h1 class="title"><%= product.name %></h1>
        <h2 class="category"><%= product.category %></h2>
        <h1 class="price">$ <i><%= product.price %></i></h1>
        <% if ( product.stock < 0 ) { %>
          <h2 class="stock">Coming soon</h2>
        <% } else if ( product.stock === 0 ) { %>
          <h2 class="stock">Sold Out</h2>
        <% } else { %>
          <h2 class="stock">Stock: <i><%= product.stock %></i></h2>
        <% } %>
      </span>
    </div>
  </div>
  <script>
    const container = document.querySelector(".body_container");
    container.style.height = `${document.documentElement.clientHeight}px`;
  </script>
</body>
</html>