<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css_reset.css" />
    <link rel="stylesheet" href="/shop.css" />
    <title>Inventory_web-app_tod</title>
  </head>
  <body>
    <div class="body_container">
      <header>
        <form action="/shop" method="POST">
          <input type="search" name="search" id="search" placeholder="Search" />
          <select name="sort" id="sort">
            <option value="" disabled selected>Sort-By</option>
            <option value="category">Category</option>
            <option value="low">Price: Low-High</option>
            <option value="high">Price: High-Low</option>
          </select>
        </form>
      </header>
      <main>
        <% locals.products.forEach( product => { %>
          <form action="/shop/<%= product.product_id %>" method="POST">
            <div class="card"> 
              <p>
                <img src= <%= product.image_uri %> alt="ss" />
              </p>
              <span>
                <h1 class="title"><%= product.name %></h1>
                <h2 class="category"><%= product.category %></h2>
                <h1 class="price">$ <i><%= product.price %></i></h1>
                <% if ( product.stock < 0 ) { %>
                  <h2 class="stock">Coming soon</h2>
                <% } else if ( product.stock === 0 ) { %>
                  <h2 class="stock">Sold Out</h2>
                <% } else { %>
                  <h2 class="stock">Stock: <i><%= product.stock %></i></h2>
                <% } %>
              </span>
            </div>
          </form>
        <% }) %>
      </main>

      <script>
        const cards = document.querySelectorAll(".card");
        cards.forEach(card => {
          card.addEventListener("click", (e) => {
            e.stopImmediatePropagation();
            e.stopPropagation();
            card.parentElement.submit();
          })
        })
      </script>
    </div>
  </body>
</html>
